<?xml version="1.0" ?>
<Configuration>
    <Appenders>
        <Console name="stdout">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="infoFile" fileName="./log/info.log" filePattern="./log/info-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter onMatch="DENY" onMismatch="NEUTRAL" level="WARN"/>
                <ThresholdFilter onMatch="ACCEPT" onMismatch="DENY" level="DEBUG"/>
            </Filters>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
        <RollingFile name="errorFile" fileName="./log/error.log" filePattern="./log/error-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter onMatch="DENY" onMismatch="NEUTRAL" level="FATAL"/>
                <ThresholdFilter onMatch="ACCEPT" onMismatch="DENY" level="ERROR"/>
            </Filters>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
        <RollingFile name="applicationLog" fileName="./log/application.log" filePattern="./log/application-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <ThresholdFilter onMatch="DENY" onMismatch="NEUTRAL" level="WARN"/>
                <ThresholdFilter onMatch="ACCEPT" onMismatch="DENY" level="DEBUG"/>
            </Filters>
            <SizeBasedTriggeringPolicy size="1 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger name="com.order.bachlinh" level="DEBUG" additivity="false">
            <AppenderRef ref="applicationLog"/>
            <AppenderRef ref="errorFile"/>
<!--            <AppenderRef ref="stdout"/>-->
        </AsyncLogger>
        <AsyncLogger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <AppenderRef ref="applicationLog"/>
        </AsyncLogger>
        <AsyncLogger name="org.springframework" level="INFO" additivity="false">
            <AppenderRef ref="errorFile"/>
            <AppenderRef ref="infoFile"/>
        </AsyncLogger>
        <AsyncLogger name="com.zaxxer.hikari" level="INFO" additivity="false">
            <AppenderRef ref="errorFile"/>
            <AppenderRef ref="infoFile"/>
        </AsyncLogger>
        <AsyncRoot level="ERROR">
            <AppenderRef ref="errorFile"/>
        </AsyncRoot>
    </Loggers>
</Configuration>