.forgot-password {
    height: 100vh;
    & .email-form {
        margin-top: 6rem;
        height: 60vh;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        & .icon {
            font-size: 4rem;
        }
        & .form {
            width: 40%;
        }
    }
}